
.form-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.light .form-container {
    background-color: #ffffff;
}

.dark .form-container {
    background-color: #3c3c3c;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #4a4a4a;
}

.dark h1 {
    color: #e0e0e0;
}

.form-group {
    margin-bottom: 1.5rem;
}

.ingredient-row{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.remove-ingredient{
    border-radius: 50px;
    border-color: red;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.dark input[type="text"],
.dark textarea {
    background-color: #4c4c4c;
    border-color: #555;
    color: #f4f4f4;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
}

.dark input[type="text"]:focus,
.dark textarea:focus {
    border-color: #3a9bff;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 0.5rem;
}

/* Button Styles */
.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.dark .submit-btn {
    background-color: #3a9bff;
}

.dark .submit-btn:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        margin: 1rem;
        padding: 1rem;
    }
}